* {
    box-sizing: border-box;
  }
  
  html,h2,p {
    margin: 0px;
    padding: 0px;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 !important;
  }
  
  /* Style the header */
  header {
    background-color: #666;
    text-align: center;
    color: white;
  }

  section{
      height: calc(100% - 28px - 18px);
  }
  /* Create two columns/boxes that floats next to each other */
  nav {
    float: left;
    width: 25%;
    background: #ccc;
    padding: 20px;
    height:calc(100vh - 28px - 18px);
  }
  
  /* Style the list inside the menu */
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  nav ul li{
    padding:10px;
  }
  nav ul li>a{
    text-decoration: none;
    color: darkblue;
  }
  
  article {
    float: left;
    padding: 20px;
    width: 75%;
    background-color: #f1f1f1;
    height:calc(100vh - 28px - 18px);/* only for demonstration, should be removed */
  }
  
  /* Clear floats after the columns */
  section:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the footer */
  footer {
    background-color: #777;
    text-align: center;
    color: white;
    font-weight: bold;

  }
  
  /* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
  @media (max-width: 600px) {
    nav,
    article {
      width: 100%;
      height: auto;
    }
  }
  